.audio__player {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    & .audio__player__box {
        width: 1300px;
        height: 700px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid grey;

        & .close__button {
            font-size: 30px;
            transform: scaleY(0.8);
            color: white;
            position: absolute;
            margin-left: 80%;
            margin-top: -42%;

            &:hover {
                cursor: pointer;
                color: aqua;
            }
        }
    }
    & .audio__main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 500px;
    }
}