* {
    padding: 0;
    margin: 0;
}
.Roulette {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);

    & .history {
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 3px;
        height: 80px;
    }  
    & .info {
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;
        color: white;
        border-radius: 10px;
        justify-content: center;
    }
    & .triangle_down {
        margin-left: 250px;
        width: 0;
        height: 0;
        border-top: 20px solid white;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
    & .roulette {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    & img {
        transition: 5s;
        pointer-events: none;
    }
    & .error {
        color: red;
        font-size: 20px;
    }
}
.game__window {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 20px;

    & .user__balance {
        color: white;
        font-size: 30px;
    }
    & .game__settings {
        width: 700px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        & .chooseColorBox {
            display: flex;
            align-items: center;
            justify-content: center;

            & button {
                width: 100px;
                height: 50px;
                transition: 0.5s;
                position: relative;
            }
            & .redButton {
               background-color: crimson;
               margin-right: 10px;
            }
            & .redButton__active {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(220, 20, 60, 0.5);
                margin-right: 10px;
            }
            & .greenButton {
                background-color: green;
            }
            & .greenButton__active {
                background-color: rgba(0, 128, 0, 0.5);
            }
            & .blackButton {
                background-color: black;
                margin-right: 10px;
            }
            & .blackButton__active {
                background-color: rgba(0, 6, 0, 0.5);
                margin-right: 10px;
            }
        }
        & input {
            width: 384px;
            height: 64px;
            font-size: 16px;
            padding-left: 30px;
            color: white;
            background-color: rgba(0, 0, 0, 0.226);
            border: 0px;
            border-radius: 5px;
            outline: none;
            
            &::placeholder {
                color: white;
                opacity: 0.8;
            }
        }
        & button {
            width: 200px;
            height: 62px;
            border: 0px;
            font-size: 15px;
            background-color: rgba(0, 0, 0, 0.404);
            color: rgba(255, 255, 255);
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
                
            }
        }
    }
}
.text__active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.text__not__active {
    display: none;
}