.Enter {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    & .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        width: 500px;


        & .text {
            color: white;
            font-size: 20px;
        }
        & .close__button {
            margin-left: 450px;
            margin-top: -10px;
            font-size: 30px;
            transform: scaleY(0.8);
            margin-bottom: 20px;

            &:hover {
                cursor: pointer;
                color: aqua;
            }
        }
        & input {
            width: 320px;
            height: 44px;
            border: 0px;
            color: white;
            font-size: 14px;
            padding-left: 30px;
            background-color: rgba(0, 0, 0, 0.2);
            outline: none;

            &::placeholder {
                color: white;
                opacity: 0.8;
            }
        }
        & button {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 0px;
            background-color: rgba(0, 0, 0, 0.4);
            color: white;
            font-size: 15px;
            transition: 0.5s;

            &:hover {
                cursor: pointer;
                color: black;
                background-color: rgba(0, 255, 255, 0.500);
                border: 1px solid aqua;
            }
        }
        & p {
            color: white;
            opacity: 0.8;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .Enter {
        & .content {
            & input {
                width: 250px;
            }
        }
    }
}