.ProgressBar {
    display: flex;
    flex-direction: column;

    & progress {
        height: 50px;
    }
    & span {
        text-align: center;
        color: black;
        margin-top: -37px;
    }
}
@media screen and (max-width: 800px) {
    .ProgressBar {
        & progress {
            margin-top: -10px;
            margin-left: 40px;
        }
        & span {
            margin-left: 40px;
            margin-top: -37px;
        }
    }
}
@media screen and (max-width: 585px) {
    .ProgressBar {
        & progress {
            margin-left: 10px;
            margin-right: 20px;
        }
        & span {
            margin-left: -10px;
        }
    }
}