
.UserStore {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

    & .back__to__folder__button {
        margin: 0 auto;
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.592);
        border: 1px solid white;
        color: white;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            color: aqua;
            border-color: aqua;
        }
    }
    & .navigation__menu {
        color: white;
        width: 150px;
        padding: 40px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & .item {
            width: 100px;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid grey;
            padding: 20px;
            font-size: 13px;

            & img {
                margin-left: 10px;
            }
            &:hover {
                cursor: pointer;
                color: white;
                border: 1px solid aqua;
                background-color: rgba(0, 255, 255, 0.2);
            }
        }

        & .item__share {
            width: 100px;
            height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid aqua;
            padding: 20px;
            font-size: 15px;
            color: white;

            &:hover {
                cursor: pointer;
                color: white;
            }
        }
    }
    & .store {
        width: 100vw;
        padding: 40px;
        height: 100vh;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.6);
        //border: 1px solid grey;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;

        
        & .store__menu {
            width: 1100px;
            display: flex;
            justify-content: space-between;
            gap: 30px;

            & input {
                width: 120px;
                font-size: 12px;
                outline: none;
                background-color: rgba(0, 0, 0, 0);
                color: white;
                border: 1px solid grey;
                padding-left: 30px;
            }
            & input[type='file'] {
                width: 180px;
                height: 30px;
                position: absolute;
                opacity: 0;

                &:hover {
                    cursor: pointer;
                }
            }
            & .div__btn {
                width: 120px;
                height: 30px;
                font-size: 13px;
                text-align: center;
                border: 1px solid black;
                padding: 5px;
                background-color: rgba(0, 0, 0, 0.5);;
                
                &:hover {
                    border: 1px solid aqua;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: aqua;
                }
            }
            & div {
                width: 200px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0.381);

                &:hover {
                    cursor: pointer;
                    color: black;
                    background-color: rgba(0, 255, 255, 0.845);
                }
            }
        }
        & .storage__files {
            display: flex;
            gap: 10px;
        }
        & .files {
            position: relative;
            width: 800px;
            height: 450px;
            border: 1px solid grey;
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-items: center;
            overflow-y: scroll;
            padding-bottom: 50px;
            gap: 20px;

            &::-webkit-scrollbar {
                width: 1px;               
              }
            &::-webkit-scrollbar-track {
                background: rgba(0, 255, 255, 0.579);       
            }
            &::-webkit-scrollbar-thumb {
                background-color: black;   
                border-radius: 20px;      
                border: 1px solid white;
            }
            & .file {
                height: 100px;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-top: 50px;
                gap: 10px;

                & .status {
                    color: white;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    opacity: 0;
                    font-size: 20px;
                    margin-left: 117px;
                    margin-top: -45px;

                    &:hover {
                        color: aqua;
                    }
                }
                & .delete__button {
                    font-size: 30px;
                    transform: scaleY(0.8);
                    color: white;
                    opacity: 0;

                    &:hover {
                        color: aqua;
                    }
                }
                & img {
                    //pointer-events: none;
                    margin-top: -14px;
                }
                & span {
                    //width: 150px;
                    text-align: center;

                    &:hover {
                        color: aqua;
                    }
                }
                &:hover {

                    & .status {
                        //margin-top: -120px;
                        opacity: 1;
                    }
                    cursor: pointer;
                    //border: 1px solid aqua;
                }
            }
        }
        & .storage__settings {
            width: 250px;
            height: 500px;
            margin-top: 50px;
            border: 1px solid grey;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .statisticOfStorage {
                font-size: 14px;
                display: flex;
                align-items: right;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                margin-top: -350px;
                position: absolute;
            }
        }
    }
}

@media screen and (max-width: 1184px) {
    .UserStore {
        & .store {
            width: 900px;

            & .store__menu {
                width: 900px;

                & .div__btn {
                    font-size: 14px;
                    text-align: center;
                    width: 100px;
                }
            }
            & .files {
                width: 600px;
            }
        }
    }
}
@media screen and (min-width: 991px) {
    .UserStore {
        & .store {
            & .storage__files {
                & .files {

                    & .file {
                        &:hover {
                            border: 1px solid white;
                            margin-top: 48px;
        
                            & .delete__button {
                                opacity: 1;
                                position: relative;
                                margin-top: 30px;
                                margin-left: 120px;
                            }
                            & img {
                                margin-top: -43.5px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 990px) {
    .UserStore {
        & .store {
            width: 700px;
            & .store__menu {
                width: 700px;

                & .div__btn {
                    font-size: 10px;
                    text-align: center;
                    min-width: 70px;
                }
                & input {
                    width: 100px;
                    padding-left: 0;
                    text-align: center;
                }
                & .upload__main {
                    width: 100px;
                    font-size: 10px;

                    & input {
                        width: 100px;
                    }
                }
            }
            & .files {
                width: 500px;

                & .file {
                    width: 100px;
                    height: 100px;
                    display: flex;

                    & .delete__button {
                        opacity: 1;
                        position: relative;
                        margin-top: 0px;
                        margin-left: 80px;
                    }
                    & img {
                        margin-top: -35px;
                        width: 100px;
                        height: 100px;
                    }

                    & span {
                        font-size: 13px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
//дизайн для мобильных телефонов
@media screen and (max-width: 800px) {
    .UserStore {
        & .store {
            width: 550px;

            & .store__menu {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                justify-items: center;
                width: 500px;

                & .div__btn {
                    font-size: 10px;
                    text-align: center;
                    min-width: 70px;
                }
                & input {
                    width: 110px;
                    height: 40px;
                    padding-left: 0;
                    text-align: center;
                }
                & .upload__main {
                    width: 110px;
                    height: 40px;
                    font-size: 10px;

                    & .upload__file {
                        width: 110px;
                        height: 40px;
                    }
                    & input {
                        height: 40px;
                        width: 110px;
                    }
                }
            }
            & .storage__files {
                display: flex;
                flex-direction: column;
                flex-flow: wrap;
                order: 0;

                & .storage__settings {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 100px;
                    order: -1;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    & .navigation__menu {
                        padding: 0;

                        & .item {
                            box-sizing: border-box;
                            text-align: center;
                            width: 100px;
                            height: 20px;
                            font-size: 11px;
                            padding: 0;
                        }
                        & .back__to__folder__button {
                            width: 50px;
                            height: 25px;
                        }
                    }
                    & .header {
                        font-size: 11px;
                        text-align: center;
                    }
                    & .ProgressBar {
                        margin: 0;
                    }
                }
                & .files {
                    width: 100%;
                    height: 250px;
                    margin-top: 0px;
                }
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .UserStore {
        & .store {
            width: 500px;

            & .storage__files {

                & .storage__settings {
                    & .navigation__menu {
                        & .item {
                            height: 20px;
                            margin-left: 30px;
                        }

                        & .back__to__folder__button {
                            width: 50px;
                            height: 25px;
                        }
                }
                }
            }
        }
    }
}
@media screen and (max-width: 585px) {
    .UserStore {
        & .store {
            width: 400px;
            .store__menu {
                width: 400px;
            }
            & .storage__files {
                
                & .files {
                    overflow-x: hidden;
                }

                & .storage__settings {

                    & .navigation__menu {
                            & .item {
                                height: 20px;
                                margin-left: 30px;
                            }
    
                            & .back__to__folder__button {
                                width: 50px;
                                height: 25px;
                            }
                    }
                    & .header {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 485px) {
    .UserStore {
        .store {
            width: 300px;

            .store__menu {
                width: 300px;
                gap: 10px;
            

                & .div__btn {
                    width: 80px;
                    //margin-bottom: 10px;
                }
                & input {
                    width: 90px;
                    height: 40px;
                }
                & .upload__main {
                    width: 90px;
                    height: 40px;
                    font-size: 10px;

                    & .upload__file {
                        width: 90px;
                        height: 40px;
                    }
                    & input {
                        height: 40px;
                        width: 90px;
                    }
                }
            }
            & .storage__files {
                & .storage__settings {
                    width: 300px;

                    & .header {
                        display: none;
                    }
                    & .navigation__menu {
                        & .item {
                            height: 20px;
                        }

                        & .back__to__folder__button {
                            width: 50px;
                            height: 25px;
                        }
                    }
                }
                & .files {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}
