.StoreForShowing {
    color: white;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;

    & .settings {
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid grey;
        height: 640px;
        margin-left: -25px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & input {
            height: 40px;
            width: 200px;
            background-color: rgba(0, 0, 0, 0.297);
            outline: none;
            color: white;
            box-sizing: border-box;
            padding-left: 30px;
            border: 1px solid white;
        }

        & button {
            height: 30px;
            color: black;
            background-color: aqua;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }
    }
    & .store {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(3, 200px);
        background-color: rgba(0, 0, 0, 0.5);
        width: 800px;
        height: 600px;
        border: 1px solid grey;
        padding: 20px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 1px;               
          }
        &::-webkit-scrollbar-track {
            background: rgba(0, 255, 255, 0.579);       
        }
        &::-webkit-scrollbar-thumb {
            background-color: black;   
            border-radius: 20px;      
            border: 1px solid white;
        }
        
        & .file {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 120px;
            margin: 20px;

            & img {
                width: 120px;
                height: 120px;
            }
        }
    }
}

@media screen and (max-width: 880px) {
    .StoreForShowing {
        & .store {
            width: 500px;

            & .file {
                width: 100px;
                height: 100px;

                & img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}
@media screen and (max-width: 520px) {
    .StoreForShowing {
        & .store {
            width: 350px;

            & .file {
                width: 100px;
                height: 100px;

                & img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}