.Statistic {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;

    & .main__statistic {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
        color: white;
        font-size: 15px;
        width: 90vw;
        height: 90vh;
        border: 1px solid grey;
        background-color: rgba(0, 0, 0, 0.5);

        & .back__button {
            font-size: 30px;
            transform: scaleY(0.75);
            margin-left: 85vw;
            margin-top: -75px;
            
            &:hover {
                cursor: pointer;
                color: aqua;
            }
        }
        & .select__graphic {
            margin-bottom: 50px;
        }
        & .graphics {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 800px;
            height: 500px;
        }
    }
}


@media screen and (max-width: 920px) {
    .Statistic {
        & .main__statistic {
            & .back__button {
                margin-top: -300px;
            }
            & .graphics {

                & canvas {
                    width: 500px;
                    height: 300px;  
                }
                
                width: 500px;
                height: 300px;
            }
        }
    }
}
@media screen and (max-width: 560px) {
    .Statistic {
        & .main__statistic {
            & .back__button {
                margin-top: -250px;
                margin-left: 280px;
            }
            & .graphics {
                width: 350px;
                height: 400px;

                
                & canvas {
                    width: 300px;
                    height: 500px;  
                }
            }
        }
    }
}